.cards-section {
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px; 
    text-align: center;
}
.roboto> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
.cards-header h2 {
    font-size: 32px;
    font-weight: 700;
    color: #001931; 
    margin-bottom: 12px;
}

.card-gap {
    display: flex;
    justify-content: center;
    gap: 24px; 
    width: 100%;
}

.card-feature {
    background: #FFFFFF;
    padding: 40px 24px;
    border-radius: 12px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.icon {
    width: 56px;
    height: 56px;
    background-color: #f84f4f; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon img {
    width: 24px;
    height: 24px;
}

.card-feature h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #001931;
}

.card-feature p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}