.main-footer {
    background-color: #001931; 
    color: white;
    padding: 80px 120px 40px 120px; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1360px; 
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 40px;
}



.logo {
    height: 40px;
    margin-bottom: 20px;
}




.footer-bottom {
    text-align: bottom;
    padding-top: 30px;
    font-size: 14px;
    color: white;
}