.last-section {
    padding: 80px 120px; 
    margin: 0 auto;
}

.last-content {
    background-color: #F7F6F2; 
    border-radius: 12px;       
    padding: 80px 40px;        
    display: flex;
    flex-direction: column;
    align-items: center;      
    text-align: center;
    gap: 24px;                 
}

.last-content h2 {
    font-size: 32px;
    color: #001931;
    font-weight: 700;
}

.last-content p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    max-width: 600px;
}

.footer-note {
    font-size: 12px;
    color: #999;
    margin-top: -10px; 
}

.click3{
    background-color: #30B86B;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}